.login-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;

  background:
    radial-gradient(circle at top left, #1e3a8a 0%, transparent 25%),
    radial-gradient(circle at bottom right, #78350f 0%, transparent 25%),
    #020617;
}

.login-card {
  width: 100%;
  max-width: 450px;

  background: rgba(15,23,42,0.75);

  border: 1px solid rgba(255,255,255,0.08);

  backdrop-filter: blur(18px);

  border-radius: 32px;

  padding: 50px 40px;

  text-align: center;

  box-shadow:
    0 15px 45px rgba(0,0,0,0.4),
    0 0 40px rgba(245,158,11,0.1);

  animation: floatUp 0.8s ease;
}

.logo-circle {
  width: 90px;
  height: 90px;

  margin: auto;
  margin-bottom: 30px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right, #f59e0b, #f97316);

  box-shadow:
    0 0 30px rgba(249,115,22,0.5);

  font-size: 2rem;
  font-weight: bold;
}

.login-card h1 {
  font-size: 3rem;

  margin-bottom: 15px;
}

.login-card p {
  color: #cbd5e1;

  line-height: 1.7;

  margin-bottom: 35px;
}

.google-btn {
  width: 100%;

  padding: 18px;

  border: none;

  border-radius: 18px;

  background: linear-gradient(to right, #f59e0b, #f97316);

  color: white;

  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.google-btn:hover {
  transform: translateY(-3px);

  box-shadow:
    0 10px 25px rgba(249,115,22,0.35);
}

@keyframes floatUp {

  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}