html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}
body {

  user-select: none;

  -webkit-user-select: none;
}
* {

  box-sizing: border-box;
}

img {

  max-width: 100%;
}